body {
    font-family: serif;
    max-width: 500px;
    margin: 40px auto;
    background-color: gray;
}

#chatpart {
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 400px;
    overflow-y: auto;
    color: lightgray;
    padding-left: 6px;
    padding-top: 6px;
}

#form {
    display: flex;
    gap: 8px;
}

#textInput {
    flex: 1;
    padding: 8px;
    background-color: lightgray;
}

button {
    background-color: lightgray;
}
